body {
    margin: 0;
    background-color: black;
}

.nav {
    background-color: red;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.nav .contato {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-family: cursive;
}

.cardapio {
    color: aliceblue;
    width: auto;
    font-family: cursive;



}
.cardapio ul{
    width: 100%;
}
.cardapio div{
    width: 100%;
    display: flex;
}
.cardapio div li{
    width: 30%;
}